<div class="row">
  <div class="col-xs-6">
    <div class="thumbnail">
      <a href="#" class="thumbnail">
        <img src="/images/match.jpg" alt="Create a match">
      </a>
      <div class="caption">
        <h3>Create game</h3>
        <p>Create your own game to play with your friends!</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="thumbnail" >
      <a href="#" class="thumbnail">
        <img src="/images/team.jpg" max-width="50%" alt="Create your team">
      </a>
      <div class="caption">
        <h3>Create your deck</h3>
        <p>You need a deck of players and plays to play!</p>
      </div>
    </div>
  </div>
</div>